<div class="container">
        <div class="projects">
            <h1>Projects</h1>
            <p class="lead">This is a list of projects I have worked on. The linked project names will direct to the source files on github.</p>
        </div>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Project Name</th>
                        <th>Website</th>
                        <th>Description</th>
                        <th>Github Commits</th>
                        <th>Language</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><a href="https://github.com/DTVD/rainbowstream" target="_blank">rainbowstream</a></td>
                        <td><a href="http://www.rainbowstream.org/" target="_blank">www.rainbowstream.org</a></td>
                        <td>A Twitter client that runs in the terminal.</td>
                        <td><a href="https://github.com/DTVD/rainbowstream/commits?author=BryanSalas" target="_blank">Commits</a></td>
                        <td>Python</td>
                    </tr>
                    <tr>
                        <td><a href="https://github.com/BryanSalas/portfolio" target="_blank">portfolio</a></td>
                        <td><a href="http://www.bryansalas.com" target="_blank">www.bryansalas.com</a></td>
                        <td>This website.</td>
                        <td><a href="https://github.com/BryanSalas/portfolio/commits?author=BryanSalas" target="_blank">Commits</a></td>
                        <td>Python</td>
                    </tr>
                    <tr>
                        <td><a href="https://github.com/tjmaas/cs373-idb" target="_blank">twistory</a></td>
                        <td><a href="http://twistory.pythonanywhere.com" target="_blank">twistory.pythonanywhere.com</a></td>
                        <td>A website that allows users to explore national parks and hikes.</td>
                        <td><a href="https://github.com/tjmaas/cs373-idb/graphs/contributors" target="_blank">Commits</a></td>
                        <td>Python</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div><!-- /.container -->